body{
    font-family: Arial, sans-serif;
    max-width: 30%;
    margin: 0 auto;
    padding: 2%;
    font-size: 1.5vw;
  }

form{
    border: solid 2px;
    padding: 0px 10px;
    border-radius: 20px;
}

h2{
    margin: 4% 0%;
    text-align: center;
}

label{
    display: block;
  }

input{
    width: 100%;
    padding: 2% 0%;
    margin-bottom: 2%;
  }

  .error-message{
    color: red;
    font-size: 1vw;
    margin-top: 1%;
  }

  .success-message{
    color: green;
    font-size: 1vw;
    margin-top: 1%;
  }

  button{
    margin: 2% 0%;
    background-color: transparent;
    border-radius: 15px;
  }